<%= render "shared/searchbar" %>

<div class="container">
  <div class="card-product">
    <div class="d-flex features-icons-icon icons-big">
      <i class="fa-solid fa-list m-auto text-primary text-h1"></i>
    </div>
    <div class="card-product-infos">
      <h2>My Supplement Stack</h2>
      <p>All of my current <strong>supplements / medications</strong> are listed here.</p>
    </div>
  </div>
</div>

<%= render "shared/card" %>
