
<%= form_with url: supplements_path, method: :get, class: "d-flex" do %>
  <div class='container search-container'>
    <%= text_field_tag :query,
      params[:query],
      class: "search-input",
      placeholder: "Find a supplement"
    %>
    <%= submit_tag "Search", class: "search-button" %>
    <% end %>
  </div>
<div class="container">
  <br><h2>My Stack</h2>
</div>
<%= render "shared/card" %>
