<div class='container'>
  <h1>All the Supplements</h1>
  <% @supplements.each do |supplement| %>
    <%= link_to supplement_path(supplement) do %>
      <% supplement.images.each do |photo| %>
        <%= image_tag photo, width: 200 %>
      <% end %>
      <div>
        <%= supplement.name %>
      </div>
    <% end %>
  <% end %>
</div>