// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// custom color scheme

$my-orange: #FF9900;
$my-light-orange: #FFC800;
$my-yellow: #FFE000;
$my-bright-yellow: #FFF700;
$my-bright-green: #B8F500;
$my-light-green: #95E214;
$my-green: #72CE27;
$my-text-color: green;
