// Specific CSS for your home-page
body {
  font-family: Roboto;
  background: #f3f4f5;
  --bs-primary: #ff9900;
  --bs-primary-rgb: 255,153,0;
}

.form {
  margin-top: 20px;
  width: 80vh;
}

//first section-banner
.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: 400.688px;
  box-sizing: border-box;
}

.main-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-section h1 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 39.2px;
  color: var(--bs-white);
  text-shadow: 0px 0px 10px var(--bs-black);
  text-align: center!important;
}

.main-text p {
  color: var(--bs-white);
  text-shadow: 0px 0px 8px var(--bs-black);
  font-size: 21px;
}

.landing-page-input {
  font-family: Roboto, sans-serif;
  width: 300px;
  height: 18px;
  font-size: 18px;padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: var(--bs-border-color-translucent);
  margin-top: 20px;
  text-align: left;
}

//second section features
.main-section {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url(app/assets/images/sunlight.png);
  background-position: center;
  background-size: cover;
  height: 400.688px;
}

.icons-big {
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.icons-big h3 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 39.2px;
  color: var(--bs-white);
  text-shadow: 0px 0px 10px var(--bs-black);
}

.icons-big p {
  font-family: Roboto, sans-serif;
  color: var(--bs-white);
  text-shadow: 0px 0px 8px var(--bs-black);
  font-size: 21px;
}

.text-h1 {
  color: var(--bs-white);
  // text-shadow: 0px 0px 8px var(--bs-black);
  font-size: 72px;
}
