.name-heading {
  display: flex;
  i {
    margin-left: 15px;
  }
}

.inline {
  display: inline-block;
  padding: 10px;
  justify-content: center;
  align-items: center;
  .form-check-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
}
