<%# <div class="container py-4 py-xl-5"> %>
  <%# <h2>My Reminders</h2> %>

  <%# <div class="row gy-4 row-cols-2 row-cols-md-3 row-cols-xl-4"> %>
    <%# <% @notifications.each do |notification| %>
      <%# <div class="card-supp"> %>
        <%# <div class="card-supp-infos"> %>
          <%# <p><%= notification.params[:comment] %>
        <%# </div> %>
      <%# </div> %>
    <%# <% end %>
  <%# </div> %>

<%= render "shared/reminder-card" %>
