<div class="container">
  <div class="card-product">
    <div class="d-flex features-icons-icon icons-big">
      <i class="fa-solid fa-list m-auto text-primary text-h1"></i>
    </div>
    <div class="card-product-infos">
      <h2>My Reminders</h2>
      <p>All of my current <strong>notifications</strong> are listed here.</p>
    </div>
  </div>
</div>

<div class="container-md p-4 py-xl-5">
  <div class="row gy-4 row-cols-1 row-cols-md-1 row-cols-xl-1">
    <% @notifications.each do |notification| %>
      <div class="card-supp g-4">
        <div class="card-supp-infos">
          <p><%= notification.params[:comment] %></p>
          <i class="fa-regular fa-bell bell-icon"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
