<div class="container-md p-4 py-xl-5">
  <div class="row g-10 row-cols-2 row-cols-md-3 row-cols-xl-4">
    <% @supplements.each do |supplement| %>
      <%= link_to supplement_path(supplement) do %>
      <div class="card-supp col p-4">
        <%= cl_image_tag supplement.images[0].key, :cloud_name => "dach7c7ct", class: "img", width: 150 %>
        <div class="card-supp-infos p-3">
          <div>
            <h3><%= supplement.name %></h3>
            <% average = 0 %>
            <% supplement.reviews.each do |review| %>
              <% average += review.rating %>
            <% end %>
            <p><%= supplement.reviews.count > 0 ? (average.to_f / supplement.reviews.count).round(1) : nil %></p>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
