<div class="carousel-window">
  <div id="carousel-1" class="carousel carousel-dark slide" data-bs-ride="false">
    <ol class="carousel-indicators">
      <li class="active" data-bs-target="#carousel-1" data-bs-slide-to="0"></li>
      <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
      <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% @supplement.images.each_with_index do |image, index| %>
        <div class="carousel-item <% if index == 0 %> active <% end %>" >
          <%= cl_image_tag image.key, :cloud_name => "dach7c7ct", height: 300 %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
