<nav class="navbar navbar-light navbar-expand-sm fixed-top py-3" style="background: linear-gradient(#72ce27 26%, rgb(255,153,0) 77%, #ff9900 100%), #72ce27;position: relative;border-style: none;">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <span style="font-family: ABeeZee, sans-serif;font-weight: bold;text-shadow: 0px 0px 0px;color: rgba(255,255,255,0.9);border-color: rgb(255,255,255);">My Daily Dose</span>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
    </button>
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="color: #ffffffe6;width: 40px;height: 32px;">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6569 2.75736C15 0.414213 18.799 0.414214 21.1421 2.75736C23.4853 5.1005 23.4853 8.8995 21.1421 11.2426L11.2426 21.1421C8.89949 23.4853 5.1005 23.4853 2.75736 21.1421C0.414214 18.799 0.414213 15 2.75736 12.6569L12.6569 2.75736ZM19.7279 9.82843L15.4853 14.0711L9.82843 8.41421L14.0711 4.17157C15.6332 2.60948 18.1658 2.60948 19.7279 4.17157C21.29 5.73367 21.29 8.26633 19.7279 9.82843Z" fill="currentColor"></path>
    </svg>
    <div id="navcol-1" class="collapse navbar-collapse d-xxl-flex flex-grow-0 ms-auto justify-content-xxl-end" style="width: 376.45px;">
      <ul class="navbar-nav me-auto">
          <li class="nav-item"></li>
          <li class="nav-item"></li>
          <li class="nav-item"></li>
      </ul>
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="font-size: 40px;height: 38px;margin-right: 2px;text-shadow: 0px 0px 0px;color: #ffffff;font-family: ABeeZee, sans-serif;">
        <path d="M5.12104 17.8037C7.15267 16.6554 9.4998 16 12 16C14.5002 16 16.8473 16.6554 18.879 17.8037M15 10C15 11.6569 13.6569 13 12 13C10.3431 13 9 11.6569 9 10C9 8.34315 10.3431 7 12 7C13.6569 7 15 8.34315 15 10ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      <div class="dropdown" style="width: 150px;">
        <a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="margin-left: 5px;position: relative;display: inline;color: rgba(13,110,253,0);">
          <svg class="icon icon-tabler icon-tabler-menu-2" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="color: #ffffffe6;width: 20px;height: 20px;margin: 0px;padding: 0px;font-family: ABeeZee, sans-serif;">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <line x1="4" y1="6" x2="20" y2="6"></line>
            <line x1="4" y1="12" x2="20" y2="12"></line>
            <line x1="4" y1="18" x2="20" y2="18"></line>
          </svg>
        </a>
        <div class="dropdown-menu" style="background: rgb(255,153,0);font-family: ABeeZee, sans-serif;">
          <a class="dropdown-item" href="#">My supplements</a>
          <a class="dropdown-item" href="#">Reminders</a>
        </div>
      </div>
    </div>
  </div>
</nav>
