<div class="container">
  <% @notifications.each do |notification| %>
    <div class="card-product">
      <div class="d-flex features-icons-icon icons-big">
      <i class="fas fa-bell d-flex features-icons-icon icons-big"></i>
      </div>
      <div class="card-product-infos">
        <p><%= notification.params[:comment] %></p>
      </div>
    </div>
  <% end %>
</div>

