<%= form_with url: supplements_path, method: :get, class: "d-flex" do %>
  <div class='container search-container'>
    <%= text_field_tag :query,
      params[:query],
      class: "search-input",
      placeholder: "Find a supplement"
    %>
    <% end %>
    <%= submit_tag "Search", class: "btn search-btn" %>
  </div>
