<section class="container showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image: url(healthy_life.png)"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>Your good reasons for taking supplements</h2>
                <p class="lead mb-0">With our growing understanding of the effectiveness of many dietary supplements there are more and more good reasons for taking them.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url(Patience.png);"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>It takes time to work</h2>
                <p class="lead mb-0">Of course, we know that you have to take your supplements consistently over a longer period of time to reap the benefits. If you run out you may lose the momentum.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image: url(Solution-MyDailyDose.png);"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>MyDailyDose helps you to stay consistent</h2>
                <p class="lead mb-0">With MyDailyDose you keep track of your supplements and we help you to reach your goals. You know when to take them and when your supply runs low.</p>
            </div>
        </div>
    </div>
</section>
<section class="text-center bg-light testimonials">
    <div class="container">
        <h2 class="mb-5">The people behind MyDailyDose...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="David_M.jpeg" />
                    <h5>David M.</h5>
                    <p class="font-weight-light mb-0">&quot;The man for the visible side of things.&quot;</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="Alex_M.jpg" />
                    <h5>Alex M.</h5>
                    <p class="font-weight-light mb-0">&quot;The man for the invisible elements.&quot;</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="Dirk_M.jpg" />
                    <h5>Dirk M.</h5>
                    <p class="font-weight-light mb-0">&quot;The man for everything else.&quot;</p>
                </div>
            </div>
        </div>
    </div>
</section>
