<%= render "shared/banner" %>

<section class="section text-center features-icons">
  <div class="container">
    <div class="row">

      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon icons-big">
            <i class="fa-solid fa-pills m-auto text-primary text-h1"></i>
          </div>
          <h3>Step 1</h3>
          <p class="lead mb-0">Add your first supplement</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon icons-big">
            <i class="fa-solid fa-list m-auto text-primary text-h1"></i>
          </div>
          <h3>Step 2</h3>
          <p class="lead mb-0">Add relevant information and a reminder</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon icons-big">
            <i class="fa-regular fa-calendar-minus m-auto text-primary text-h1"></i>
          </div>
          <h3>Step 3</h3>
          <p class="lead mb-0">Get a notification when it's time to take your supplement</p>
        </div>
      </div>
    </div>
  </div>

  <%= render "shared/showcase" %>
</section>
