<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dach7c7ct/image/upload/v1669742040/sunlight_wo7bh7.png);">
  <div class="container">
    <h1>My Supplements all in one place!</h1>

    <%= link_to "Add Supplement", new_supplement_path, class: "btn btn-primary" %>
  </div>
</div>
