banner {
  color: rgba(255, 153, 0, 0.43);
  background: url('../app/assets/images/sunlight.png');
  text-align: center;
  height: 1080px;
}

.svg {
  color: var(--bs-navbar-active-color);
  width: 1em;
  height: 1em;
}

 .btn-outline-light .btn-lg{
  background-color: rgba(255, 153, 0, 0.43);
  border-radius: 50px;
}

.btn {
  background-color: rgba(255, 153, 0, 0.43);
  border-radius: 50px;
}

.btn-lg{
  background-color: rgba(255, 153, 0, 0.43);
  border-radius: 50px;
}

.page .landing-page {
  font-family: Arial, Helvetica, sans-serif;

}
