.banner {
  background-size: cover;
  background-position: center;
  padding: 375px 0;
  justify-content: center;
  align-items: center;
  background-image: url(https://res.cloudinary.com/dach7c7ct/image/upload/v1669742040/sunlight_wo7bh7.png);
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.svg {
  color: var(--bs-navbar-active-color);
  width: 1em;
  height: 1em;
}

//  .btn-outline-light .btn-lg{
//   background-color: rgba(255, 153, 0, 0.43);
//   border-radius: 50px;
// }

// .btn {
//   border-radius: 50px;
//   background-color: $my-orange !important;
//   border-color: $my-orange;
// }

// .btn-lg{
//   background-color: rgba(255, 153, 0, 0.43);
//   border-radius: 50px;
// }
