.banner {
  display: flex;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  background-image: url(https://res.cloudinary.com/dach7c7ct/image/upload/v1669742040/sunlight_wo7bh7.png);
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.svg {
  color: var(--bs-navbar-active-color);
  width: 1em;
  height: 1em;
}

//  .btn-outline-light .btn-lg{
//   background-color: rgba(255, 153, 0, 0.43);
//   border-radius: 50px;
// }

// .btn {
//   border-radius: 50px;
//   background-color: $my-orange !important;
//   border-color: $my-orange;
// }

.btn-lg{
  background-color: rgba(255, 153, 0, 0.43);
  border-radius: 50px;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url("app/assets/images/sunlight.png");
  // background-position: center;
  // background-size: cover;
  // height: 400.688px;

}

.main-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.main.text h1 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 39.2px;
  color: var(--bs-white);
  text-shadow: 0px 0px 10px var(--bs-black);
}


.main-text p {
  color: var(--bs-white);
  text-shadow: 0px 0px 8px var(--bs-black);
  font-size: 21px;
}

.container input {
  font-family: Roboto, sans-serif;
  width: 300px;
  height: 18px;
  font-size: 18px;padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: var(--bs-border-color-translucent);
  margin-top: 20px;
  text-align: left;
  border-radius: 10px;
}

.button-banner {
  background: var(--bs-primary);
  margin-top: 20px;
  border-radius: 10px;
}
