
.btn-primary {
    background: #FF9900;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 6px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
    backdrop-filter: blur(0px);
    --bs-btn-hover-color: #ffffff;
    --bs-btn-active-color: #ffffff;
    border-radius: 999px;
}

.btn-primary {
  opacity: 1;
}

.btn-primary:hover {
  opacity: 0.75;
}
