.card-supp {
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card-supp .img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.card-supp h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-supp .card-supp-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

a {
  text-decoration: none;
}
