.carousel-window {
  max-width: 50%;
  // line-height: 1;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 250px;
  margin-right: 250px;
}

.carousel-inner {
  justify-content: space-around;
  align-items: center;
  height: 350px;
  width: 450px;
}

.carousel-item {
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.reviews {
  margin-top: 20px;
}

h4 {
  display: inline;
  margin-right: 10px;
}

p {
  margin-top: 20px;
}
