

.card-supp {
  // overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card-supp .img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  padding-top: 5px;
}

.card-supp h3 {
  font-size: 20px;
  font-weight: bold;
  margin: -4px;
}

.card-supp-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;

  .bell-icon {
    font-size: x-large;
  }
}

.card-supp-infos p {
  padding-top: 10px;
}

a {
  text-decoration: none;
  margin-bottom: 16px;
}
