.carousel-window {
  display: flex;
  justify-content: center;
}

.carousel {
  width: max($numbers: 500px);
  margin-top: 20px;
  margin-bottom: 25px;
  .carousel-item {
      text-align: center;
    }
}
