.form-div {
  display: flex;
}

// input {
//   height: 28px !important;
// }

.form-submit-button {
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 50px;
  width: 100px;
  text-shadow: none;
}
