.navbar {
  height: 60px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #B4FF9F;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar {
  background: #B4FF9F;
  position: relative;
  border-style: none
}

.navbar-brand {
  align-items: center;
  display: flex;
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 0px 0px;
  color: rgba(255,255,255,0.9);
  border-color: rgb(255,255,255);
}

.dropdown-menu {
  background: #FFD59E;
  font-family: ABeeZee, sans-serif;
}

.btn-flat {
  color: white;
  padding: 4px 24px;
  border-radius: 4px;
  background: #FF9900;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #FFD59E;
  color: white;
}

.burger {
  stroke-width: 2;
  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  color: var(--bs-navbar-active-color);
  width: 1em;
  height: 1em;
}
