.navbar {
  height: 60px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar {
  background: linear-gradient(#72ce27 26%, rgb(255,153,0) 77%, #ff9900 100%), #72ce27;
  position: relative;
  border-style: none
}

.navbar-brand {
  align-items: center;
  display: flex;
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 0px 0px;
  color: rgba(255,255,255,0.9);
  border-color: rgb(255,255,255);
}

.dropdown-menu {
  background: rgb(255,153,0);
  font-family: ABeeZee, sans-serif;
}

.btn {
  background: rgba(255, 153, 0, 0);
}

.burger {
  stroke-width: 2;
  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  color: var(--bs-navbar-active-color);
  width: 1em;
  height: 1em;
}
