.navbar {
  justify-content: space-between;
  background: #ffffff;
  position: sticky;
  top: 0;
  border-style: none;
  height: 60px;
  display: flex;

  li {
    text-decoration: none;
    list-style: none;
  }
}

.dropdown-menu {
  background: #FFD59E;
  font-family: 'Poppins', sans-serif;
}

.dropdown-menu :hover {
  background: #FFD59E;
  color: white;
}

.navbar-brand img {
  height: 40px;

}
