.search-container {
  width: 60%;
  padding-right: 0px;
  display: flex;
  align-items: center;
  border-radius: 999px;
  overflow: hidden;
  box-shadow: inset 0px 5em 1em rgba(0, 0, 0, 0.1);
  background: white;
  margin-top: 20px;
}

.search-input {
  padding: 6px;
  border: none;
  flex: 1;
  box-shadow: inset 0px 5em 1em rgba(0, 0, 0, 0.1);
}

.search-button {
  background: $my-orange;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 999px;
  padding: 8px 20px;
}
