.search-container {
  padding-right: 1px;
  display: flex;
  align-items: center;
  border-radius: 999px;
  overflow: hidden;
  // box-shadow: inset 0px 5em 1em rgba(0, 0, 0, 0.1);
  background: white;
  margin-top: 20px;
  max-width: 400px;
  background-color: #ffffff;
}

.search-input {
  padding: 6px;
  border: none;
  flex: 1;
  // box-shadow: inset 0px 5em 1em rgba(0, 0, 0, 0.1);
}


.search-btn {
  background: #FF9900;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center;
  border: 1px;
  transition: all 0.3s ease 0s;
  backdrop-filter: blur(0px);
  --bs-btn-hover-color: #ff9900;
  --bs-btn-active-color: #ff9900;
  margin-left: 110px;
  border-radius: 999px;
}

.search-btn {
opacity: 1;
}

.search-btn:hover {
opacity: 0.75;
}
